<body>
  <!-- Preloader -->
  <!-- <div id="preloader">
    <div class="preload-content">
      <div id="reen-load"></div>
    </div>
  </div> -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area wow fadeInDown" data-wow-delay="0.2s">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
        <!-- Classy Menu -->
        <nav class="classy-navbar justify-content-between" id="reenNav">
          <!-- Logo -->

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"
              ><span></span><span></span><span></span
            ></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">
            <!-- Close Button -->
            <div class="classycloseIcon">
              <div class="cross-wrap">
                <span class="top"></span><span class="bottom"></span>
              </div>
            </div>

            <!-- Nav Start -->
            <div class="classynav">
              <ul id="nav">
                <li>
                  <img
                    class="logo"
                    src="./../../../assets/images/af8ec2cf-0ec9-4482-9573-68fcd6362ebf.png"
                    alt=""
                  />
                </li>
                <li *ngIf="url == '/post'">
                  <a href="/"> Home</a>
                </li>
                <li *ngIf="url == '/'">
                  <!-- <a href="/post" style="font-weight: 800">Posts</a> -->
                  <a
                    [routerLink]="['/post']"
                    routerLinkActive="router-link-active"
                    style="font-weight: 800;
                    font-size: 18px;"
                    >Posts</a
                  >
                </li>

                <li style="margin-left: 800px">
                  <a
                    *ngIf="access_group == ''"
                    [routerLink]="['/auth']"
                    class="btn login-btn right"
                    >Log in</a
                  >
                </li>
              </ul>

              <!-- Button -->

              <div class="config-switch">
                <img
                  class="avatar"
                  [routerLink]="['/auth']"
                  *ngIf="access_group == 'instructor'"
                  src="../../../../../../assets/images/avatar.png"
                  alt="avatar"
                />
                <img
                  class="avatar"
                  [routerLink]="['/auth']"
                  *ngIf="access_group == 'student'"
                  src="./../../../../../../assets/images/profile-picture-avatar-3.png"
                  alt="avatar"
                />
                <img
                  class="avatar"
                  [routerLink]="['/auth']"
                  *ngIf="access_group == 'admin'"
                  src="./../../../../../../assets/images/FREE-PROFILE-AVATARS.png"
                  alt="avatar"
                />
              </div>
            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Welcome Area Start ***** -->
  <section
    class="welcome_area bg-img jarallax clearfix"
    id="home"
    style="background-image: url(./../../../../assets/new/img/bg-img/bg-2.jpg);"
  >
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <!-- Welcome Content -->
        <div class="col-12 col-md-7" style="margin-top: -100px;">
          <div class="welcome-content">
            <h2 class="wow fadeInUp" data-wow-delay="0.2s">
              Welcome to Music School!
            </h2>
            <!-- <p class="wow fadeInUp" data-wow-delay="0.3s">
              We have over 15 year exprience in business consultting arena. We
              have over 15 year exprience in business consultting arena.
            </p> -->
            <!-- <div class="reen-btn-group wow fadeInUp" data-wow-delay="0.4s">
              <a href="#" class="btn reen-btn mr-3">Learn More</a>
              <a href="#" class="btn reen-btn">Contact Us</a>
            </div> -->
          </div>
        </div>

        <!-- Welcome Video Area -->
        <div class="col-12 col-md-5">
          <div class="welcome-video-area wow fadeInUp" data-wow-delay="0.5s">
            <!-- Welcome Thumbnail -->
            <div class="music-player">
              <div class="player-main">
                <div class="main-current">
                  <div class="current-keyvisual">
                    <img
                      src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/329679/music-player-freebie-photo.png"
                    />
                  </div>
                  <div class="current-info">
                    <h1>Blame</h1>
                    <p>KYLE</p>
                  </div>
                </div>
                <div class="main-control">
                  <div class="btn _previous"></div>
                  <div class="btn _pause"></div>
                  <div class="btn _next"></div>
                  <div class="btn _timeline">
                    <span class="current-time">2:32</span>
                    <span class="timescope">
                      <span class="timescope-dot"></span>
                    </span>
                    <span class="end-time">4:00</span>
                  </div>
                </div>
              </div>
              <ul class="player-list">
                <li>
                  <img
                    class="list-cover"
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/329679/music-player-freebie-a1.png"
                  />
                  <div class="list-info">
                    <div class="info-title">One Step At A Time</div>
                    <div class="info-artist">BEARSON</div>
                  </div>
                </li>
                <li>
                  <img
                    class="list-cover"
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/329679/music-player-freebie-a2.png"
                  />
                  <div class="list-info">
                    <div class="info-title">Sunset Lover</div>
                    <div class="info-artist">PETIT BISCUIT</div>
                  </div>
                </li>
                <li>
                  <img
                    class="list-cover"
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/329679/music-player-freebie-a3.png"
                  />
                  <div class="list-info">
                    <div class="info-title">Youth</div>
                    <div class="info-artist">TROYE SIVAN</div>
                  </div>
                </li>
                <li>
                  <img
                    class="list-cover"
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/329679/music-player-freebie-a4.png"
                  />
                  <div class="list-info">
                    <div class="info-title">Working Girl</div>
                    <div class="info-artist">LITTLE BOOTS</div>
                  </div>
                </li>
              </ul>
            </div>
            <!-- Top Info -->

            <!-- Scripts -->
          </div>
        </div>
      </div>
    </div>

    <!-- blip -->
    <!-- <div class="reen-blip blip1"></div>
    <div class="reen-blip blip2"></div>
    <div class="reen-blip blip3"></div>
    <div class="reen-blip blip4"></div> -->
  </section>
  <!-- ***** Welcome Area End ***** -->

  <!-- ***** Cool Facts Area Start ***** -->
  <div class="cool-facts-area">
    <div class="container">
      <div class="row">
        <!-- Single Cool Fact -->

        <div class="col-md-3">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div
                class="flip-card-front"
                style=" background: linear-gradient(to bottom right, #ee0979, #ff6a00); "
              >
                <h2 style="margin-top: 70px; color: white">Users</h2>
                <i class="fa fa-3x fa-user" style="color: white"></i>
              </div>
              <div
                class="flip-card-back"
                style=" background: linear-gradient(to bottom right, #ee0979, #ff6a00); "
              >
                <h1 style="margin-top: 80px">{{ value2 }} +</h1>
                <!-- <div *ngFor="let item of course_data; let i = index">
                  <div *ngIf="i < 5">
                    <p>{{ item?.course_name }}</p>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div
                class="flip-card-front"
                style=" background: linear-gradient(to bottom right, #642B73, #C6426E); "
              >
                <h2 style="margin-top: 70px; color: white">Instructors</h2>
                <i class="fa fa-3x fa-user-circle-o" style="color: white"></i>
              </div>
              <div
                class="flip-card-back"
                style=" background: linear-gradient(to bottom right, #642B73, #C6426E); "
              >
                <h1 style="margin-top: 80px">{{ value4 }} +</h1>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div
                class="flip-card-front"
                style=" background: linear-gradient(to bottom right, #de6161, #2657eb); "
              >
                <h2 style="margin-top: 70px; color: white">Students</h2>
                <i class="fa fa-3x fa-graduation-cap" style="color: white"></i>
              </div>
              <div
                class="flip-card-back"
                style=" background: linear-gradient(to bottom right, #de6161, #2657eb); "
              >
                <h1 style="margin-top: 80px">{{ value1 }} +</h1>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div
                class="flip-card-front"
                style=" background: linear-gradient(to bottom right, #283c86, #45a247); "
              >
                <h2 style="margin-top: 70px; color: white">Course</h2>
                <i class="fa fa-3x fa-file-text-o" style="color: white"></i>
              </div>
              <div
                class="flip-card-back"
                style=" background: linear-gradient(to bottom right, #283c86, #45a247); "
              >
                <h1 style="margin-top: 80px">{{ value3 }} +</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Cool Facts Area End ***** -->

  <!-- ***** About Us Area Start ***** -->

  <!-- ***** About Us Area End ***** -->

  <!-- ***** Call To Action Area Start ***** -->
  <!-- ***** Call To Action Are End ***** -->

  <!-- ***** Our Services Area Start ***** -->
  <section class="our_services_area section-padding-100-0 clearfix">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading text-center">
            <!-- reen Dots -->

            <h2 class="wow fadeInUp" data-wow-delay="0.3s">
              Our Courses
            </h2>
            <!-- <p class="wow fadeInUp" data-wow-delay="0.4s">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis
              accumsan nisi Ut ut felis congue nisl hendrerit commodo.
            </p> -->
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Service Single Content -->
        <div
          class="col-12 col-sm-6 col-lg-4"
          *ngFor="let item of courseData; let i = index"
        >
          <div
            class="service_single_content text-center mb-100 wow fadeInUp"
            data-wow-delay="0.2s"
            *ngIf="i < 6"
          >
            <!-- Icon -->
            <div class="service_icon">
              <i class="fa fa-graduation-cap"></i>
            </div>
            <h6>{{ item.course_name }}</h6>
            <p>
              Course Duration : 8 weeks
            </p>
          </div>
        </div>

        <!-- Service Single Content -->
      </div>
    </div>
  </section>
  <!-- ***** Our Services Area End ***** -->

  <!-- ***** FAQ & Timeline Area Start ***** -->

  <!-- ***** FAQ & Timeline Area End ***** -->

  <!-- ***** Mission Area Start ***** -->
  <section
    class="our-mission-area section-padding-100-50 bg-img jarallax clearfix"
    style="background-image: url(./../../../../assets/new/img/bg-img/bg-3.jpg);"
    id="feature"
  >
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center">
        <!-- Single Mission -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-mission wow fadeInUp mb-50" data-wow-delay="0.2s">
            <i class="icon_genius"></i>
            <h6>Quality</h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed,
              illo, cumque. Fuga neque similique quibusdam animi ipsam
              obcaecati.
            </p>
          </div>
        </div>

        <!-- Single Mission -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-mission wow fadeInUp mb-50" data-wow-delay="0.3s">
            <i class="icon_pens"></i>
            <h6>Creativity</h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed,
              illo, cumque. Fuga neque similique quibusdam animi ipsam
              obcaecati.
            </p>
          </div>
        </div>

        <!-- Single Mission -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-mission wow fadeInUp mb-50" data-wow-delay="0.4s">
            <i class="icon_tools"></i>
            <h6>Reliability</h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed,
              illo, cumque. Fuga neque similique quibusdam animi ipsam
              obcaecati.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Mission Area End ***** -->

  <footer
    class="footer-area bg-img"
    style="background-image: url(./../../../../assets/new/img/core-img/pattern.png);"
  >
    <!-- Contact Area Start -->
    <div class="contact_us_area mb-100" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-12" style="margin-top: 40px">
            <div class="section-heading text-center">
              <!-- reen Dots -->

              <h2 class="wow fadeInUp" data-wow-delay="0.3s">
                Contact With Us
              </h2>
            </div>
          </div>
        </div>

        <!-- Contact Form -->
        <div class="row justify-content-center" style="margin-top: -78px">
          <div class="col-12 col-md-10 col-lg-8">
            <div class="contact_form">
              <form
                id="main_contact_form"
                novalidate
                [formGroup]="validateForm"
                (ngSubmit)="submitForm($event, validateForm.value)"
              >
                <div class="row">
                  <div class="col-12">
                    <div id="success_fail_info"></div>
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="group wow fadeInUp" data-wow-delay="0.2s">
                      <input
                        type="text"
                        formControlName="name"
                        name="name"
                        id="name"
                        required
                      />
                      <span class="highlight"></span>
                      <span class="bar"></span>
                      <label>Name</label>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="group wow fadeInUp" data-wow-delay="0.3s">
                      <input
                        type="text"
                        formControlName="email"
                        name="email"
                        id="email"
                        required
                      />
                      <span class="highlight"></span>
                      <span class="bar"></span>
                      <label>Email</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="group wow fadeInUp" data-wow-delay="0.4s">
                      <input
                        type="text"
                        formControlName="subject"
                        name="subject"
                        id="subject"
                        required
                      />
                      <span class="highlight"></span>
                      <span class="bar"></span>
                      <label>Subject</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="group wow fadeInUp" data-wow-delay="0.5s">
                      <textarea
                        name="message"
                        formControlName="message"
                        id="message"
                        required
                      ></textarea>
                      <span class="highlight"></span>
                      <span class="bar"></span>
                      <label>Message</label>
                    </div>
                  </div>
                  <div
                    class="col-12 text-center wow fadeInUp"
                    data-wow-delay="0.6s"
                  >
                    <button
                      type="submit"
                      class="btn reen-btn"
                      [disabled]="!validateForm.valid"
                    >
                      Send Message
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact Area End -->

    <!-- Footer Area Start -->
    <div class="footer-content-area section-padding-150-0">
      <div class="container">
        <div class="row align-items-end">
          <div class="col-12 col-md-12">
            <!-- Content Info -->
            <div class="contact_info_area d-sm-flex justify-content-between">
              <div class="col-md-4">
                <div
                  class="contact_info text-center wow fadeInUp"
                  data-wow-delay="0.2s"
                >
                  <h5>Location</h5>
                  <p>Dhaka, Bangladesh</p>
                </div>
              </div>
              <div class="col-md-4">
                <div
                  class="contact_info text-center wow fadeInUp"
                  data-wow-delay="0.3s"
                >
                  <h5>E-mail</h5>
                  <p>support@smrafi.me</p>
                </div>
              </div>
              <div class="col-md-4">
                <div
                  class="contact_info text-center wow fadeInUp"
                  data-wow-delay="0.4s"
                >
                  <h5>Phone</h5>
                  <p>+880 195 466 4678</p>
                </div>
              </div>

              <!-- Content Info -->

              <!-- Content Info -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
