<body>
  <div class="background">
    <div class="form_wrapper">
      <div class="form_container">
        <div class="title_container">
          <h2>Welcome to Music School</h2>
        </div>
        <div class="row clearfix">
          <form
            [formGroup]="validateForm"
            (ngSubmit)="submitForm($event, validateForm.value)"
          >
            <div class="input_field">
              <span><i aria-hidden="true" class="fa fa-user"></i></span>
              <input
                type="email"
                formControlName="user_name"
                placeholder="User Name"
                required
              />
            </div>

            <div class="input_field">
              <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <div class="icon">
                <i *ngIf="!eye" class="fa fa-eye" (click)="toggleShow()"></i>
                <i
                  *ngIf="eye"
                  class="fa fa-eye-slash"
                  (click)="toggleShow()"
                ></i>
              </div>
              <input
                type="{{ type }}"
                formControlName="password"
                placeholder="Password"
                required
              />
            </div>

            <input class="button" type="submit" value="Login" />
          </form>
          <p>
            New to Music School?
            <a [routerLink]="['/auth/signup']">Register Now</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
