@import '../../admin-shared/theme/color-schemes/_dark';
.check-label,
.radio-label {
  margin-bottom: 20px;
}

.form-group {
  > .form-control {
    margin-bottom: 10px;
    width: 300px;
  }
  > .help-block {
    margin-top: -10px;
  }
}

.switch-group {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .control-label {
    width: 100%;
  }
  switch {
    flex: 1;
  }
}

.icon {
  position: absolute;
  margin-left: 230px;
  margin-top: 6px;
}
