<card cardTitle="Course Material">
  <div class="row">
    <div class="col-md-8">
      <select name="select" class="form-control" id="select1" [(ngModel)]="selectedCourse"
        (change)="refreshValue($event.target.value)" placeholder="Select Course">
        <option [ngValue]="undefined" disabled selected>Select Course</option>
        <option *ngFor="let item of items" [ngValue]="item">
          {{ item }}
        </option>
      </select>
      <br />
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped" *ngIf="material">
        <thead>
          <tr>
            <th>ID</th>
            <th>Material</th>
            <th>Price</th>
            <th>Uploaded On</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of material; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item?.material }}</td>
            <td>{{ item?.price }}$</td>
            <td>{{ item?.created_at | date: 'medium' }}</td>
            <td>
              <div *ngIf="checkPayment(item.id)==false">
                <button class="btn btn-success" angular-rave (init)="paymentInit(item.price)"
                  [raveOptions]="raveOptions" (callback)="paymentSuccess($event, item.link, i, item.id)"
                  (onclose)="paymentFailure()" (click)="onClick(item.price)">
                  Buy
                </button>
              </div>
              <div *ngIf="checkPayment(item.id)==true">
                <button class="btn btn-success" (click)="download(item.link, i)">
                  Download
                </button>
              </div>



              <!-- <td *ngIf="item.">
              <button>
                Buy
              </button>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</card>

<!--
  5061460410120223210
Expiry Month 12
Expiry Year 21
cvv: 780
Pin: 3310
otp 12345


 -->
