<!-- <div class="row">
  <div class="col-md-3 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Current Users</h3>
        <span>102,018 / 200,450</span>
      </div>
      <button class="tip-ico tip-ico-primary">
        <i class="fa fa-group fa-fw"></i>
      </button>
    </div>
  </div>
  <div class="col-md-3 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Messages</h3>
        <span>2 messages</span>
      </div>
      <button class="tip-ico tip-ico-info">
        <i class="fa fa-comments fa-fw"></i>
      </button>
    </div>
  </div>
  <div class="col-md-3 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Mails</h3>
        <span>2 mails</span>
      </div>
      <button class="tip-ico tip-ico-success">
        <i class="fa fa-envelope fa-fw"></i>
      </button>
    </div>
  </div>
  <div class="col-md-3 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Feedback</h3>
        <span>20 feedbacks</span>
      </div>
      <button class="tip-ico tip-ico-danger">
        <i class="fa fa-warning fa-fw"></i>
      </button>
    </div>
  </div>
  <div class="col-md-8">
    <card cardTitle="Bar Chart" isCollapse="true">
      <div
        echarts
        [options]="AnimationBarOption"
        [loading]="showloading"
        theme="dark"
      ></div>
    </card>
  </div>
  <div class="col-md-4">
    <card cardTitle="Todo List" isCollapse="true">
      <du-todolist></du-todolist>
    </card>
  </div>
</div>
 -->
<!-- {{ data | json }} -->
<div class="row">
  <div class="col-md-3">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div
          class="flip-card-front"
          style=" background: linear-gradient(to bottom right, #800080, #ffc0cb); "
        >
          <h1 style="margin-top: 90px; color: white">Course</h1>
        </div>
        <div
          class="flip-card-back"
          style=" background: linear-gradient(to bottom right, #800080, #ffc0cb); "
        >
          <h2>My Courses</h2>
          <div *ngFor="let item of course_data">
            <p>{{ item?.course?.course_name }}</p>
          </div>
          <a
            style="position: absolute; bottom: 5px;  margin-left: -12px;"
            [routerLink]="['/student-dashboard/course/all-course']"
            routerLinkActive="router-link-active"
            >More</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div
          class="flip-card-front"
          style=" background: linear-gradient(to bottom right, #8E2DE2, #4A00E0); "
        >
          <h1 style="margin-top: 90px; color: white">Result</h1>
        </div>
        <div
          class="flip-card-back"
          style=" background: linear-gradient(to bottom right, #8E2DE2, #4A00E0); "
        >
          <h2>Course Marks</h2>
          <div *ngFor="let item of course_data">
            <p>{{ item?.course?.course_name }} - {{ item?.marks }}</p>
          </div>
          <a
            style="position: absolute; bottom: 5px;  margin-left: -12px;"
            [routerLink]="['/student-dashboard/result']"
            routerLinkActive="router-link-active"
            >More</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div
          class="flip-card-front"
          style=" background: linear-gradient(to bottom right, #8360c3, #2ebf91); "
        >
          <h1 style="margin-top: 90px; color: white">Post</h1>
        </div>
        <div
          class="flip-card-back"
          style=" background: linear-gradient(to bottom right, #8360c3, #2ebf91); "
        >
          <h2>Latest Post</h2>
          <p>{{ post_data?.description }}</p>
          <a
            style="position: absolute; bottom: 5px;  margin-left: -12px;"
            [routerLink]="['/student-dashboard/post/my-post']"
            routerLinkActive="router-link-active"
            >More</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div
          class="flip-card-front"
          style=" background: linear-gradient(to bottom right, #373B44, #4286f4); "
        >
          <h1 style="margin-top: 90px; color: white">Message</h1>
        </div>
        <div
          class="flip-card-back"
          style=" background: linear-gradient(to bottom right, #373B44, #4286f4); "
        >
          <h2>Received Messages</h2>
          <div *ngFor="let item of receivedMessage; let i = index">
            <div *ngIf="i < 3">
              <p>{{ item?.sender?.user_name }} : {{ item?.message }}</p>
            </div>
            <a
              style="position: absolute; bottom: 5px; margin-left: -12px;"
              [routerLink]="['/student-dashboard/messege']"
              routerLinkActive="router-link-active"
              >More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<br />

<div class="alert alert-info" *ngIf="clickedDate">
  <strong> You clicked on this day: {{ clickedDate | date }} </strong>
</div>
<br />
<mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate">
</mwl-demo-utils-calendar-header>

<div class="row">
  <div class="col-md-10 col-centered">
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="events"
        (dayClicked)="clickedDate = $event.day.date"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="events"
        (dayHeaderClicked)="clickedDate = $event.day.date"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="events"
      >
      </mwl-calendar-day-view>
    </div>
    <br />
  </div>
</div>
