<div class="col-md-12">
  <card cardTitle="Compose Post">
    <form
      [formGroup]="validateForm"
      (ngSubmit)="submitForm($event, validateForm.value)"
    >
      <label class="control-label">Post Title</label>
      <input
        formControlName="title"
        type="text"
        class="form-control"
        placeholder="Title"
      />
      <br />
      <label class="control-label">Post Description</label>
      <textarea
        formControlName="description"
        type="text"
        class="form-control"
        placeholder="Description"
      >
      </textarea>

      <br />
      <label class="control-label">Attachment</label>
      <img
        src="{{ data?.data?.attachment }}"
        style="margin-left:10px; height: 50px; width: 50px"
      />
      <br />
      <br />
      <image-upload
        [max]="1"
        (removed)="onRemoved($event)"
        [beforeUpload]="onBeforeUpload"
        buttonCaption="upload a image"
        [extensions]="['jpg', 'jpeg', 'png', 'gif', 'pdf']"
        clearButtonCaption="X"
      ></image-upload>
      <br />
      <div style="text-align: center">
        <button type="submit" class="btn btn-success">Post</button>
        <button
          [routerLink]="['/admin-dashboard/post/manage-post']"
          class="btn btn-warning">
          Discard
        </button>
      </div>
    </form>
  </card>
</div>
