<body>
  <!-- Preloader -->
  <!-- <div id="preloader">
    <div class="preload-content">
      <div id="reen-load"></div>
    </div>
  </div> -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area wow fadeInDown" data-wow-delay="0.2s">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
        <!-- Classy Menu -->
        <nav class="classy-navbar justify-content-between" id="reenNav">
          <!-- Logo -->

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"
              ><span></span><span></span><span></span
            ></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">
            <!-- Close Button -->
            <div class="classycloseIcon">
              <div class="cross-wrap">
                <span class="top"></span><span class="bottom"></span>
              </div>
            </div>

            <!-- Nav Start -->
            <div class="classynav">
              <ul id="nav">
                <li>
                  <img
                    class="logo"
                    src="./../../../assets/images/af8ec2cf-0ec9-4482-9573-68fcd6362ebf.png"
                    alt=""
                  />
                </li>
                <li *ngIf="url == '/post'">
                  <a
                    [routerLink]="['/']"
                    routerLinkActive="router-link-active"
                    style="font-weight: 800;
                    font-size: 18px;"
                  >
                    Home</a
                  >
                </li>
                <li *ngIf="url == '/'">
                  <a style="font-weight: 800">Posts</a>
                </li>
                <li style="margin-left: 800px;">
                  <a
                    *ngIf="access_group == ''"
                    [routerLink]="['/auth']"
                    class="btn login-btn right"
                    >Log in</a
                  >
                </li>
              </ul>

              <!-- Button -->

              <div class="config-switch">
                <img
                  class="avatar"
                  [routerLink]="['/auth']"
                  *ngIf="access_group == 'instructor'"
                  src="../../../../../../assets/images/avatar.png"
                  alt="avatar"
                />
                <img
                  class="avatar"
                  [routerLink]="['/auth']"
                  *ngIf="access_group == 'student'"
                  src="./../../../../../../assets/images/profile-picture-avatar-3.png"
                  alt="avatar"
                />
                <img
                  class="avatar"
                  [routerLink]="['/auth']"
                  *ngIf="access_group == 'admin'"
                  src="./../../../../../../assets/images/FREE-PROFILE-AVATARS.png"
                  alt="avatar"
                />
              </div>
            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row" style="margin-top: 90px">
      <div class="col-md-12">
        <app-owl-carousel></app-owl-carousel>
      </div>
    </div>
  </div>

  <section class="price_table_area clearfix">
    <div class="container">
      <div class="row no-gutters">
        <div
          class="col-md-6"
          style="margin-top: 40px; padding-right: 10px; padding-left: 10px"
        >
          <app-most-popular></app-most-popular>
        </div>
        <div class="col-md-6" style="margin-top: 40px; padding-right: 10px">
          <app-latest-post></app-latest-post>
        </div>

        <div
          class="col-md-10"
          style="margin-top: 40px; float: none;
        margin: 0 auto;"
        >
          <app-post-item></app-post-item>
        </div>

        <!-- Single Table Area -->
      </div>
    </div>
  </section>

  <!-- ***** Cool Facts Area End ***** -->

  <footer
    class="footer-area bg-img"
    style="background-image: url(./../../../../assets/new/img/core-img/pattern.png);"
  >
    <!-- Contact Area Start -->
    <!-- Contact Area End -->

    <!-- Footer Area Start -->
    <div class="footer-content-area section-padding-150-0">
      <div class="container">
        <div class="row align-items-end">
          <div class="col-12 col-md-12">
            <!-- Content Info -->
            <div class="contact_info_area d-sm-flex justify-content-between">
              <div class="col-md-4">
                <div
                  class="contact_info text-center wow fadeInUp"
                  data-wow-delay="0.2s"
                >
                  <h5>Location</h5>
                  <p>Dhaka, Bangladesh</p>
                </div>
              </div>
              <div class="col-md-4">
                <div
                  class="contact_info text-center wow fadeInUp"
                  data-wow-delay="0.3s"
                >
                  <h5>E-mail</h5>
                  <p>support@smrafi.me</p>
                </div>
              </div>
              <div class="col-md-4">
                <div
                  class="contact_info text-center wow fadeInUp"
                  data-wow-delay="0.4s"
                >
                  <h5>Phone</h5>
                  <p>+880 195 466 4678</p>
                </div>
              </div>

              <!-- Content Info -->

              <!-- Content Info -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
