<card cardTitle="Change Password">
  <div class="form-group col-md-3">
    <form
      [formGroup]="validateForm"
      (ngSubmit)="submit($event, validateForm.value)"
    >
      <label class="control-label">Current Password</label>
      <div class="icon">
        <i *ngIf="!eye1" class="fa fa-eye" (click)="toggleShow1()"></i>
        <i *ngIf="eye1" class="fa fa-eye-slash" (click)="toggleShow1()"></i>
      </div>
      <input
        [type]="type1"
        class="form-control"
        placeholder="Current Password Input"
        formControlName="password"
      />
      <div
        *ngIf="
          validateForm.controls['password'].errors &&
          (validateForm.controls['password'].touched ||
            validateForm.controls['password'].dirty)
        "
        class="alert alert-danger"
      >
        <div *ngIf="validateForm.controls['password'].errors.required">
          old password is required.
        </div>
      </div>
      <label class="control-label">New Password</label>
      <div class="icon">
        <i *ngIf="!eye2" class="fa fa-eye" (click)="toggleShow2()"></i>
        <i *ngIf="eye2" class="fa fa-eye-slash" (click)="toggleShow2()"></i>
      </div>
      <input
        tooltip="password must be minimum 5 character and must contain a digit"
        placement="right"
        show-delay="100"
        [type]="type2"
        pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
        class="form-control"
        formControlName="new_password"
        placeholder="New Password Input"
      />
      <div
        *ngIf="
          validateForm.controls['new_password'].errors &&
          (validateForm.controls['new_password'].touched ||
            validateForm.controls['new_password'].dirty)
        "
        class="alert alert-danger"
      >
        <div *ngIf="validateForm.controls['new_password'].errors.required">
          new password is required.
        </div>
        <div *ngIf="validateForm.controls['new_password'].errors.pattern">
          Invalid pattern
        </div>
      </div>
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="!validateForm.valid"
      >
        Submit
      </button>
      <button
        class="btn btn-warning"
        [routerLink]="['/instructor-dashboard/index']"
      >
        Cancel
      </button>
    </form>
  </div>
</card>
