<!-- {{ items | json }} -->
<div class="row">
  <div class="col-md-12">
    <card cardTitle="Messege">
      <tabset id="tabs3" theme="justified">
        <tab-content id="tab1" for="tabs3" tabTitle="Inbox" [active]="true">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>From</th>
                <th>Message</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of receivedMessage; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item?.sender?.user_name }}</td>
                <td>{{ item?.message }}</td>
              </tr>
            </tbody>
          </table>
        </tab-content>
        <tab-content id="tab2" for="tabs3" tabTitle="Sent">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>To</th>
                <th>Message</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of sentMessage; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item?.receiver?.user_name }}</td>
                <td>{{ item?.message }}</td>
              </tr>
            </tbody>
          </table>
        </tab-content>
        <tab-content id="tab3" for="tabs3" tabTitle="New">
          <card cardTitle="Compose Messege">
            <form
              [formGroup]="validateForm"
              (ngSubmit)="submit($event, validateForm.value)"
            >
              <div class="row">
                <div class="col-md-2">
                  <h4>To :</h4>
                </div>
                <div class="col-md-6">
                  <select
                    name="select"
                    formControlName="receiver"
                    id="select1"
                    class="form-control"
                    [(ngModel)]="selectedUser"
                    (change)="refreshValue($event.target.value)"
                    placeholder="Select user"
                  >
                    <option [ngValue]="undefined" disabled selected
                      >Select user</option
                    >
                    <option *ngFor="let item of items" [ngValue]="item.value">
                      {{ item.label }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <h4>Message :</h4>
                </div>
                <div class="col-md-8">
                  <textarea
                    formControlName="message"
                    cols="70"
                    rows="5"
                  ></textarea>
                </div>
              </div>
              <br />
              <div style="text-align: center;margin-left: -160px">
                <button
                  class="btn btn-success"
                  type="submit"
                  [disabled]="!validateForm.valid"
                >
                  Send
                </button>
              </div>
            </form>
          </card>
        </tab-content>
      </tabset>
    </card>
  </div>
</div>
