<!-- {{ postData | json }} -->
<div *ngIf="access_group == ''">
  <div
    class="single_price_table_content active text-center wow fadeIn"
    data-wow-delay="0.2s"
    *ngFor="let item of postData"
  >
    <div class="row">
      <div class="col-md-6">
        <div class="price_table_text">
          <img class="image" src="{{ item?.attachment }}" alt="" />
        </div>
      </div>
      <div class="vl"></div>
      <div class="col-md-6">
        <div class="table_text_details">
          <h2>{{ item?.title }}</h2>
          <br />
          <h4 style="height: 135px">{{ item?.description }}</h4>
          <br />
          <br />

          <h5>
            <div class="pull-left">
              <span style="margin-right: 5px"
                ><i class="fa fa-user-o"></i
              ></span>
              {{ item.user?.user_name }}
            </div>
            <div class="pull-righ" style="text-align: end">
              <span style="margin-right: 5px">
                <i class="fa fa-calendar-o"></i>
              </span>
              {{ item.created_at | date: 'medium' }}
            </div>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="access_group != ''">
  <ngb-tabset [justify]="justified">
    <ngb-tab title="My Post" style="font-size: 18px" >
      <ng-template ngbTabContent>
        <div
          class="single_price_table_content active text-center wow fadeIn"
          data-wow-delay="0.2s"
          *ngFor="let item of userPost"
        >
          <div class="row">
            <!-- <div class="edit-box"> -->
            <div class="edit-icon" *ngIf="access_group == 'admin'">
              <i
                class="fa fa-2x fa-pencil-square-o"
                [routerLink]="['/admin-dashboard/post/update', item.id]"
              ></i>
            </div>
            <div class="edit-icon" *ngIf="access_group == 'instructor'">
              <i
                class="fa fa-2x fa-pencil-square-o"
                [routerLink]="['/instructor-dashboard/post/update', item.id]"
              ></i>
            </div>
            <div class="edit-icon" *ngIf="access_group == 'student'">
              <i
                class="fa fa-2x fa-pencil-square-o"
                [routerLink]="['/student-dashboard/post/update', item.id]"
              ></i>
            </div>
            <!-- </div> -->
            <div class="col-md-6">
              <div class="price_table_text">
                <img class="image" src="{{ item?.attachment }}" alt="" />
              </div>
            </div>
            <div class="vl"></div>
            <div class="col-md-6">
              <div class="table_text_details">
                <h2>{{ item?.title }}</h2>
                <br />
                <h4 style="height: 135px">{{ item?.description }}</h4>
                <br />
                <br />

                <h5>
                  <div class="pull-left">
                    <span style="margin-right: 5px"
                      ><i class="fa fa-user-o"></i
                    ></span>
                    {{ item.user?.user_name }}
                  </div>
                  <div class="pull-righ" style="text-align: end">
                    <span style="margin-right: 5px">
                      <i class="fa fa-calendar-o"></i>
                    </span>
                    {{ item.created_at | date: 'medium' }}
                  </div>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="All Post">
      <ng-template ngbTabContent>
        <div
          class="single_price_table_content active text-center wow fadeIn"
          data-wow-delay="0.2s"
          *ngFor="let item of postData"
        >
          <div class="row">
            <div class="col-md-6">
              <div class="price_table_text">
                <img class="image" src="{{ item?.attachment }}" alt="" />
              </div>
            </div>
            <div class="vl"></div>
            <div class="col-md-6">
              <div class="table_text_details">
                <h2>{{ item?.title }}</h2>
                <br />
                <h4 style="height: 135px">{{ item?.description }}</h4>
                <br />
                <br />

                <h5>
                  <div class="pull-left">
                    <span style="margin-right: 5px"
                      ><i class="fa fa-user-o"></i
                    ></span>
                    {{ item.user?.user_name }}
                  </div>
                  <div class="pull-righ" style="text-align: end">
                    <span style="margin-right: 5px">
                      <i class="fa fa-calendar-o"></i>
                    </span>
                    {{ item.created_at | date: 'medium' }}
                  </div>
                </h5>
              </div>
            </div>
          </div>
          <!-- <div class="row">
                <div class="vl1">
                  <span class="like">
                    <i class="fa fa-2x fa-thumbs-o-up" style="margin-right: 5px;" (click)="like(item.id)"
                      >{{item.likes}}</i
                    >
                  </span >
                  <span class="comment">
                    <i class="fa fa-2x fa-commenting-o" style="margin-left:5px">5</i>
                  </span>
                </div>
              </div> -->
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
