<card cardTitle="Transection">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>User Name</th>
          <th>Course Material</th>
          <th>Amount</th>
          <th>Purchase Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{ item?.user.user_name }}</td>
          <td>{{ item?.courseMaterial.material }}</td>
          <td>{{ item?.amount }}$</td>
          <td>
            {{ item?.created_at | date: 'medium' }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</card>
