<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Welcome to Music School</h2>
    </div>
    <div class="row clearfix">
      <form [formGroup]="validateForm" (ngSubmit)="submitForm($event, validateForm.value)">
        <div class="input_field">
          <span><i aria-hidden="true" class="fa fa-user"></i></span>
          <input
            tooltip="user name must start with letter and minimum 3 digit"
            placement="right"
            show-delay="100"
            pattern="^[A-Za-z]\w{2,9}$"
            type="text"
            formControlName="user_name"
            placeholder="User Name"
            required
          />

        </div>
        <div *ngIf="
            validateForm.controls['user_name'].invalid &&
            (validateForm.controls['user_name'].dirty ||
              validateForm.controls['user_name'].touched)
          " class="alert alert-danger">
          <div *ngIf="validateForm.controls['user_name'].errors.required">
            Username is required.
          </div>
          <div *ngIf="validateForm.controls['user_name'].errors.pattern">
            Invalid pattern
          </div>
        </div>

        <div class="input_field">
          <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
          <input
            tooltip="email address must contain '@'"
            placement="right"
            show-delay="100"
            type="text"
            formControlName="email"
            placeholder="Email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            required
          />

        </div>

        <div *ngIf="
            validateForm.controls['email'].errors &&
            (validateForm.controls['email'].touched ||
              validateForm.controls['email'].dirty)
          " class="alert alert-danger">
          <div *ngIf="validateForm.controls['email'].errors.required">
            Email is required.
          </div>
          <div *ngIf="validateForm.controls['email'].errors.pattern">
            Invalid pattern
          </div>
        </div>

        <div class="input_field">
          <span><i aria-hidden="true" class="fa fa-phone"></i></span>
          <input
            tooltip="contact no. must be 11 digit"
            placement="right"
            show-delay="100"
            pattern="^(\+\d{2,4})?\s?(\d{11})$"
            type="text"
            formControlName="contact_no"
            placeholder="Contact No."
            required
          />

        </div>

        <div *ngIf="
            validateForm.controls['contact_no'].errors &&
            (validateForm.controls['contact_no'].touched ||
              validateForm.controls['contact_no'].dirty)
          " class="alert alert-danger">
          <div *ngIf="validateForm.controls['contact_no'].errors.required">
            Contact no. is required.
          </div>
          <div *ngIf="validateForm.controls['contact_no'].errors.pattern">
            Invalid pattern
          </div>
        </div>

        <div class="input_field">
          <span><i aria-hidden="true" class="fa fa-lock"></i></span>
          <div class="icon">
            <i *ngIf="!eye" class="fa fa-eye" (click)="toggleShow()"></i>
            <i *ngIf="eye" class="fa fa-eye-slash" (click)="toggleShow()"></i>
          </div>
          <input
            tooltip="password must be minimum 5 character and must contain a digit"
            placement="right"
            show-delay="100"
            pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{5,}$"
            type="{{ type }}"
            formControlName="password"
            placeholder="Password"
            required
          />

        </div>
        <div *ngIf="
            validateForm.controls['password'].errors &&
            (validateForm.controls['password'].touched ||
              validateForm.controls['password'].dirty)
          " class="alert alert-danger">
          <div *ngIf="validateForm.controls['password'].errors.required">
            Password is required.
          </div>
          <div *ngIf="validateForm.controls['password'].errors.pattern">
            Invalid pattern
          </div>
        </div>
        <div class="input_field select_option">
          <!-- <select
            name="select"
            class="form-control"
            id="select1"
            [(ngModel)]="selectedCourse"
            (change)="refreshValue($event.target.value)"
            placeholder="Select Course"
          >
            <option [ngValue]="undefined" disabled selected>Select Course</option>
            <option *ngFor="let item of items" [ngValue]="item">
              {{ item }}
            </option>
          </select> -->
          <select name="select" class="form-control" id="select1" [(ngModel)]="selectedAccessGroup"
            (change)="refreshValue($event.target.value)" formControlName="access_group_id"
            placeholder="Please select one option">
            <option [ngValue]="undefined" disabled selected>
              Please select one option
            </option>
            <option *ngFor="let option of accessGroupSearchOptions" [label]="option.label" [value]="option.value">
            </option>
          </select>
          <div class="select_arrow"></div>
        </div>
        <input class="button" type="submit" value="Register" [disabled]="!validateForm.valid" />
      </form>
      <p>
        Already Registered?
        <a [routerLink]="['/auth/login']">Login Now</a>
      </p>
    </div>
  </div>
</div>
