@import '../node_modules/angular-calendar/css/angular-calendar.css';
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a.active {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    background: #fff;
    font-size: 16px;
    color: #8458d4;
  }
}
@media (min-width: 768px)
{
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    font-size: 16px;
    color: #fff;
    background: #4e4ed4;
}
}

