<card cardTitle="Course Material">
  <div class="row">
    <div class="col-md-6">
      <select
        name="select"
        class="form-control"
        id="select1"
        [(ngModel)]="selectedCourse"
        (change)="refreshValue($event.target.value)"
        placeholder="Select Course"
      >
        <option [ngValue]="undefined" disabled selected>Select Course</option>
        <option *ngFor="let item of items" [ngValue]="item">
          {{ item }}
        </option>
      </select>
      <br />
    </div>
  </div>

  <!-- ng2FileSelect [uploader]="uploader" -->

  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped" *ngIf="material">
        <thead>
          <tr>
            <th>ID</th>
            <!-- <th>Course Name</th> -->
            <th>Material</th>
            <th>Uploaded On</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of material; let i = index">
            <td>{{ i + 1 }}</td>
            <!-- <td>{{ item?.course_name }}</td> -->
            <td>{{ item?.material }}</td>
            <td>{{ item?.created_at | date: 'medium' }}</td>
            <td>
              <button class="btn btn-success" (click)="download(item.link, i)">
                Download
              </button>
              <button class="btn btn-danger" (click)="delete(item.id)">
                Delete
              </button>
              <!-- <button class="btn btn-danger" (click)="delete(item.id)">
                Delete
              </button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <form
        *ngIf="selectedCourse"
        [formGroup]="validateForm"
        (ngSubmit)="submitForm($event, validateForm.value)"
      >
        <h3>
          Upload file
        </h3>
        <br />
        <input formControlName="material" type="text" placeholder="File Name" />
        <br />
        <input formControlName="price" type="text" placeholder="Price" />
        <br />
        <br />
        <input
          formControlName="link"
          type="file"
          name="file"
          accept=".pdf"
          (change)="fileChange($event)"
        />
        <br />
        <button type="submit" class="btn btn-success">
          Submit
        </button>
      </form>
    </div>

    <!-- <div class="col-md-6" *ngIf="selectedCourse">
      <h3>Upload queue</h3>
      <p>Queue length: {{ uploader?.queue?.length }}</p>
      <table class="table">
        <thead>
          <tr>
            <th width="50%">Name</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td>
              <strong>{{ item?.file?.name }}</strong>
            </td>
            <td class="text-center">
              <span *ngIf="item.isSuccess">
                <i class="glyphicon glyphicon-ok"></i>
              </span>
              <span *ngIf="item.isCancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
              </span>
              <span *ngIf="item.isError">
                <i class="glyphicon glyphicon-remove"></i>
              </span>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-success btn-xs"
                (click)="item.upload()"
                [disabled]="item.isReady || item.isUploading || item.isSuccess"
              >
                <span class="glyphicon glyphicon-upload"></span> Upload
              </button>
              <button
                type="button"
                class="btn btn-warning btn-xs"
                (click)="item.cancel()"
                [disabled]="!item.isUploading"
              >
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
              </button>
              <button
                type="button"
                class="btn btn-danger btn-xs"
                (click)="item.remove()"
              >
                <span class="glyphicon glyphicon-trash"></span> Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <div>
          Queue progress:
          <progress-bar
            [percent]="uploader.progress"
            theme="success"
          ></progress-bar>
        </div>
        <button
          type="button"
          class="btn btn-success btn-s"
          (click)="uploader.uploadAll()"
          [disabled]="!uploader.getNotUploadedItems().length"
        >
          <span class="glyphicon glyphicon-upload"></span> Upload all
        </button>
        <button
          type="button"
          class="btn btn-warning btn-s"
          (click)="uploader.cancelAll()"
          [disabled]="!uploader.isUploading"
        >
          <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
        </button>
        <button
          type="button"
          class="btn btn-danger btn-s"
          (click)="uploader.clearQueue()"
          [disabled]="!uploader.queue.length"
        >
          <span class="glyphicon glyphicon-trash"></span> Remove all
        </button>
      </div>
    </div> -->
  </div>

  <!-- <app-file-upload></app-file-upload> -->
</card>
